@media screen and (min-width:520px) {
    .pc__bg {
        position: relative;
        width: 100%;
        background: $pc_bg !important;
        overflow-y: auto;
    }
    .pc__wrap {
        position: relative;
        width: $pc_breakpoint;
        min-height: 100vh;
        margin: 0 auto;
        border-left: 1px solid $pc_border;
        border-right: 1px solid $pc_border;
        background-color: #fff;
    }
}