// =======================

// 1. @function iconImg() 사용하기
//
// 2. @mixin setIcon() 사용하기

@function iconImg($iconName, $iconColor) {
  $iconList:(
      // 예시코드입니다 실제 작업전에 삭제 예정.
      airplane: "%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.403 21.49c.697-.692.707-1.806.02-2.486l-4.521-4.562 2.573-10.777L17.836 2l-4.62 8.713L8.683 6.14l.446-2.897L7.885 2 5.79 5.73 2.035 7.804 3.267 9.07 6.2 8.637l4.499 4.539-8.747 4.585 1.65 1.653 10.793-2.486 4.522 4.562c.651.68 1.823.68 2.485 0z' fill='#{$iconColor}'/%3E%3C/svg%3E",
      bell: "%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 3.5c0-1.1.9-2 2-2s2 .9 2 2v.29c2.97.88 5 3.61 5 6.71v6l2 2v1H3v-1l2-2v-6c0-3.1 2.03-5.83 5-6.71V3.5zm0 17h4a2 2 0 0 1-4 0z' fill='#{$iconColor}'/%3E%3C/svg%3E",
      chevron: "%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C4.5 0 0 4.5 0 10s4.5 10 10 10 10-4.5 10-10S15.5 0 10 0zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z' fill='#{$iconColor}'/%3E%3Cpath d='M13 8.5l1.5 1.5-6 6L7 14.5l6-6z' fill='#{$iconColor}'/%3E%3Cpath d='M7 5.5L8.5 4l6 6-1.5 1.5-6-6z' fill='#{$iconColor}'/%3E%3C/svg%3E",
      check: "%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8-1.41-1.42z' fill='#{$iconColor}'/%3E%3C/svg%3E",
      close: "%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z' fill='#{$iconColor}'/%3E%3Cpath d='M15.5 7L17 8.5 8.5 17 7 15.5 15.5 7z' fill='#{$iconColor}'/%3E%3Cpath d='M7 8.5L8.5 7l8.5 8.5-1.5 1.5L7 8.5z' fill='#{$iconColor}'/%3E%3C/svg%3E",
      fltr: "%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.17 18a3 3 0 0 1 5.66 0H22v2H11.83a3 3 0 0 1-5.66 0H2v-2h4.17zm6-7a3 3 0 0 1 5.66 0H22v2h-4.17a3 3 0 0 1-5.66 0H2v-2h10.17zm-6-7a3.001 3.001 0 0 1 5.66 0H22v2H11.83a3 3 0 0 1-5.66 0H2V4h4.17z' fill='#{$iconColor}'/%3E%3C/svg%3E",
      home: "%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.742 12.324l-9-10c-.38-.422-1.107-.422-1.486 0l-9 10a.998.998 0 0 0-.17 1.076c.16.36.518.593.913.593h2v7a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-4h4v4a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-7h2a.998.998 0 0 0 .743-1.67z' fill='#{$iconColor}'/%3E%3C/svg%3E",
      mappin: "%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 12.191c.537 0 .998-.2 1.381-.6.383-.398.574-.878.574-1.438 0-.56-.191-1.04-.574-1.44A1.847 1.847 0 0 0 12 8.115c-.538 0-.998.2-1.38.598-.384.4-.575.88-.575 1.44 0 .56.191 1.04.575 1.439.382.4.842.6 1.38.6zM12 22a1.16 1.16 0 0 1-.733-.28c-2.379-2.191-4.155-4.225-5.328-6.102-1.173-1.877-1.76-3.63-1.76-5.261 0-2.548.787-4.578 2.36-6.09C8.11 2.757 9.93 2 11.998 2c2.07 0 3.89.756 5.462 2.268 1.573 1.511 2.359 3.54 2.359 6.089 0 1.63-.587 3.384-1.76 5.261-1.173 1.877-2.948 3.91-5.327 6.102A1.16 1.16 0 0 1 12 22z' fill='#{$iconColor}'/%3E%3C/svg%3E",
      msg: "%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.1 1c1.653 0 3.239.66 4.408 1.834a6.278 6.278 0 0 1 1.825 4.43 6.278 6.278 0 0 1-1.825 4.428A6.219 6.219 0 0 1 9.1 13.526h-.367v.73a.748.748 0 0 1-.457.688.739.739 0 0 1-.284.056c-1.804-.002-3.632-.606-5.018-1.845-1.4-1.251-2.306-3.11-2.307-5.517v-.375c0-1.66.656-3.254 1.825-4.429A6.218 6.218 0 0 1 6.9 1h2.2zM5.433 6.158c-.291 0-.571.116-.778.324a1.108 1.108 0 0 0 .778 1.886c.292 0 .572-.116.778-.323a1.108 1.108 0 0 0-.778-1.887zm5.134 0c-.292 0-.572.116-.778.324a1.108 1.108 0 0 0 .778 1.886c.291 0 .571-.116.777-.323a1.108 1.108 0 0 0-.777-1.887z' fill='#{$iconColor}'/%3E%3C/svg%3E",
      profile: "%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.536 3.464a5 5 0 1 0-7.071 7.071 5 5 0 0 0 7.07-7.07zM22 19.5c0-2.762-4.475-5-10-5s-10 2.238-10 5V22h20v-2.5z' fill='#{$iconColor}'/%3E%3C/svg%3E",
  );

  $icon: map-get($iconList, $iconName);
  @return url("data:image/svg+xml;charset=utf8,#{$icon}")
};

@mixin setIcon($iconName, $iconSize, $iconColor, $disp:block){
  display: $disp;
  width: $iconSize;
  height: $iconSize;
  background: iconImg($iconName, $iconColor) no-repeat center / 100% auto;
}

$svg_primary:                        '%23008FA0';

$svg_primary1:                       '%23F5FBFB';
$svg_primary2:                       '%23E6F4F6';
$svg_primary3:                       '%23CCE9EC';
$svg_primary4:                       '%2380C7D0';
$svg_primary5:                       '%234DB1BD';
$svg_primary6:                       '%231F9DAC';
$svg_primary7:                       '%23008FA0';
$svg_primary8:                       '%23007280';
$svg_primary9:                       '%23005660';
$svg_primary10:                      '%23003940';

$svg_secondary1:                     '%23ECF3F4';
$svg_secondary2:                     '%23D2E0E2';
$svg_secondary3:                     '%23A8B3B5';

$svg_gray1:                          '%23FFFFFF';
$svg_gray2:                          '%23FAFAFA';
$svg_gray3:                          '%23E3E3E3';
$svg_gray4:                          '%23CFCFD2';
$svg_gray5:                          '%23B7B6BB';
$svg_gray6:                          '%237B7A84';
$svg_gray7:                          '%23494854';
$svg_gray8:                          '%232E2E2E';