// =======================

// 1. @function iconImg() 사용하기
//
// 2. @mixin setIcon() 사용하기

@function iconImg($iconName, $iconColor) {
  $iconList:(
      // 예시코드입니다 실제 작업전에 삭제 예정.
      prev:        "%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'%3E%3Cpath stroke='#{$iconColor}' stroke-width='2.2' d='m23 13-7 7 7 7'/%3E%3C/svg%3E",
  );

  $icon: map-get($iconList, $iconName);
  @return url("data:image/svg+xml;charset=utf8,#{$icon}")
};

@mixin setIcon($iconName, $iconSize, $iconColor, $disp:block){
  display: $disp;
  width: $iconSize;
  height: $iconSize;
  background: iconImg($iconName, $iconColor) no-repeat center / 100% auto;
}


$svg_primary:                        '23008FA0';

$svg_primary1:                       '23F5FBFB';
$svg_primary2:                       '23E6F4F6';
$svg_primary3:                       '23CCE9EC';
$svg_primary4:                       '2380C7D0';
$svg_primary5:                       '234DB1BD';
$svg_primary6:                       '231F9DAC';
$svg_primary7:                       '23008FA0';
$svg_primary8:                       '23007280';
$svg_primary9:                       '23005660';
$svg_primary10:                      '23003940';

$svg_secondary1:                     '23ECF3F4';
$svg_secondary2:                     '23D2E0E2';
$svg_secondary3:                     '23A8B3B5';

$svg_gray1:                          '23FFFFFF';
$svg_gray2:                          '23FAFAFA';
$svg_gray3:                          '23E3E3E3';
$svg_gray4:                          '23CFCFD2';
$svg_gray5:                          '23B7B6BB';
$svg_gray6:                          '237B7A84';
$svg_gray7:                          '23494854';
$svg_gray8:                          '232E2E2E';