$primary: #008FA0;

$primary1: #F5FBFB;
$primary2: #E6F4F6;
$primary3: #CCE9EC;
$primary4: #80C7D0;
$primary5: #4DB1BD;
$primary6: #1F9DAC;
$primary7: #008FA0;
$primary8: #007280;
$primary9: #005660;
$primary10: #003940;

$secondary1: #ECF3F4;
$secondary2: #D2E0E2;
$secondary3: #A8B3B5;

$gradient:linear-gradient(to right, #008FA0 0%, #00CFCD 92%);

$gray1: #FFFFFF;
$gray2: #FAFAFA;
$gray3: #E3E3E3;
$gray4: #CFCFD2;
$gray5: #B7B6BB;
$gray6: #7B7A84;
$gray7: #494854;
$gray8: #2E2E2E;