.title_elarge {
    line-height: 36px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.05em;
}
.title_large {
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.05em;
}
.title_medium {
    line-height: 24px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.05em;
}
.title_small {
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.05em;
}
.title_esmall {
    line-height: 24px;
    font-style: 16px;
    font-weight: 500;
    letter-spacing: -.05em;
}

.body_elarge {
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.07em;
}
.body_large {
    line-height: 22px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -.05em;
}
.body_default {
    line-height: 22px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.05em;
}
.body_medium {
    line-height: 18px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -.05em;
}
.body_small {
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.05em;
}
.body_esmall {
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -.05em;
}

.label_elarge {
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.05em;
}
.label_large {
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -.05em;
}
.label_medium {
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.05em
}
.label_small {
    line-height: 16px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -.05em;
}