.card {
  padding: 0 20px; 
  background: #fff;

  &__content {  
    margin-bottom: 12px;
  }
  &__photo {
    margin-bottom: 20px;

    &_box {
      @include img_cover(100%, 160px, 12px);
    }
    &_pagination {
      @include flex_box(center, center);
      margin: 8px 0;
    }
  }
  &__title {
    @include font_default(16px, 700, $gray8);
  }
  &__txt {
    @include font_default(14px, 500, $gray6);
    
    &-cut {
      width: 100%;
      @include ellipsis;
    }
  }

  &__like {
    @include flex_box(flex-start, center);

  }

  &__btn_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    flex: 0 0 calc(50% - 4px);
    height: 36px; 
    line-height: 36px;
    &-active {
      background: $primary;
      @include font_default(14px, 700, #fff);
    }
    &-inactive {
      background: $gray2;
      @include font_default(14px, 700, $gray5);
    }
  }
}